RADARR_URL=http://localhost:7878
RADARR_API_KEY=your_radarr_key_here

SONARR_URL=http://localhost:8989
SONARR_API_KEY=your_sonarr_key_here

SEERR_URL=http://localhost:5055
SEERR_API_KEY=your_seerr_key_here

JELLYFIN_URL=http://localhost:8096
JELLYFIN_API_KEY=your_jellyfin_key_here

NTFY_URL=https://your_ntfy_url_here
NTFY_TOKEN=your_ntfy_token_here

DISCORD_REQUEST_WH=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token

SMTP_SERVER=your_smtp_server
SMTP_PORT=587
SMTP_USER=your_email@domain.com
SMTP_PASS=your_smtp_password
EMAIL_FROM=updates@yourdomain.com # Address you want the email to come from 
EMAIL_FROM_NAME=My Jellyfin Server # Username to appear for the email address